body {
  font-size: 16px;
  line-height: 150%;
}

.timetable__adaptive-block {
  display: none;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__menu-button {
  display: none;
}

.header {
  padding: 40px 0 0 0;
  min-height: 100vh;
  background: url(../img/main-screen__bgc.jpg) center/cover no-repeat;
  position: relative;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 120px 0;
}

.header__container {
  max-width: 1780px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__menu {
  margin-left: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-right: 56px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  -webkit-transition: color 300ms ease 0s;
  transition: color 300ms ease 0s;
}

.header__link:hover {
  color: #7c7cfc;
}

.header__login {
  margin-left: 270px;
  width: 50px;
  height: 50px;
  background: linear-gradient(94.26deg, #6a27b8 9.51%, #000000 90.23%);
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.header__login img {
  width: 100%;
}

.header__login:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__title {
  line-height: 140%;
  max-width: 920px;
  margin: 0 0 50px 0;
}

@media (max-width: 767px) {
  .header__title {
    font-size: calc(24px + 68 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767px) {
  .header__title {
    font-size: calc(24px + 40 * (100vw / 1280));
  }
}

.time {
  max-width: 535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time__item {
  padding: 20px;
  max-width: 102px;
  max-height: 112px;
  background-color: #121212;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .time__item {
    font-size: calc(18px + 30.6 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767px) {
  .time__item {
    font-size: calc(18px + 18 * (100vw / 1280));
  }
}

.time__item span {
  display: block;
  text-align: center;
  color: #797979;
}

@media (max-width: 767px) {
  .time__item span {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767px) {
  .time__item span {
    font-size: calc(12px + 6 * (100vw / 1280));
  }
}

.take-course {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: #121212;
  padding: 32px 0;
  width: 100%;
}

.take-course__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.take-course__button {
  width: 169px;
  height: 44px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  text-align: center;
  padding: 10px 0;
  margin-right: 80px;
}

.take-course__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: auto auto;
      grid-template: 1fr 1fr / auto auto;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.take-course__info p {
  color: #6e6e6e;
}

.take-course__info span {
  line-height: 150%;
  color: white;
  font-weight: bold;
}

.take-course__progress p {
  color: #6e6e6e;
}

.take-course__progress span {
  display: inline-block;
  margin-left: 50px;
  line-height: 150%;
  color: white;
  font-weight: bold;
}

.take-course__linear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 650px;
}

.take-course__line-one {
  width: 350px;
  text-align: left;
  position: relative;
  padding: 10px 0 0 0;
  color: #6e6e6e;
}

.take-course__line-one::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}

.take-course__line-two {
  width: 200px;
  text-align: right;
  position: relative;
  padding: 10px 0 0 0;
  color: #6e6e6e;
}

.take-course__line-two::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
}

.aboutus {
  background-color: black;
  padding: 200px 0 231px 0;
}

.aboutus__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus__img-block {
  width: 526px;
  height: 542px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  padding: 38px 30px;
}

.aboutus__img {
  background-color: black;
  position: relative;
  padding: 0 0 100% 0;
}

.aboutus__img img {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
}

.aboutus__text {
  width: 600px;
}

.aboutus__title {
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 45px;
}

@media (max-width: 767px) {
  .aboutus__title {
    font-size: calc(24px + 40.8 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767px) {
  .aboutus__title {
    font-size: calc(24px + 24 * (100vw / 1280));
  }
}

.start {
  padding: 0 0 200px 0;
  background-color: black;
}

.start__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start__title-text {
  margin-left: 10px;
  font-weight: bold;
  line-height: 100%;
  margin: 0 0 50px 10px;
}

@media (max-width: 767px) {
  .start__title-text {
    font-size: calc(24px + 40.8 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767px) {
  .start__title-text {
    font-size: calc(24px + 24 * (100vw / 1280));
  }
}

.start__subtitle {
  color: #6e6e6e;
  max-width: 411px;
  margin-bottom: 80px;
}

.result {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

.result__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 20px 1fr 1fr /1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */
}

.result__color {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.result__text {
  width: 300px;
  color: #6e6e6e;
}

.item1 {
  width: 324px;
  height: 80px;
}

.item2 {
  width: 324px;
  height: 60px;
}

.item3 {
  width: 324px;
  height: 30px;
}

.item4 {
  width: 324px;
  height: 10px;
}

.information {
  padding: 0 0 200px 0;
  background-color: black;
}

.information__title {
  font-weight: bold;
  line-height: 140%;
  /* or 67px */
  text-align: center;
  /* white */
  margin: 0 0 120px 0;
}

@media (max-width: 767px) {
  .information__title {
    font-size: calc(24px + 40.8 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767px) {
  .information__title {
    font-size: calc(24px + 24 * (100vw / 1280));
  }
}

.information__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.information__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.information__top-text {
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 767px) {
  .information__top-text {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767px) {
  .information__top-text {
    font-size: calc(18px + 6 * (100vw / 1280));
  }
}

.information__img {
  margin-bottom: 60px;
}

.information__text {
  text-align: center;
}

.partners {
  padding: 0 0 200px 0;
  background-color: black;
}

.partners__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.partners__title-img {
  margin-right: 10px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.partners__title-text {
  font-weight: bold;
  line-height: 140%;
}

@media (max-width: 767px) {
  .partners__title-text {
    font-size: calc(24px + 40.8 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767px) {
  .partners__title-text {
    font-size: calc(24px + 24 * (100vw / 1280));
  }
}

.partners__items {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(310px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  justify-items: center;
}

.partners__item img {
  width: 100%;
}

.timetable {
  background-color: black;
  padding: 0 0 172px 0;
}

.timetable__top {
  text-align: center;
}

.timetable__img {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-bottom: 61px;
}

.timetable__title {
  line-height: 140%;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .timetable__title {
    font-size: calc(24px + 40.8 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767px) {
  .timetable__title {
    font-size: calc(24px + 24 * (100vw / 1280));
  }
}

.timetable__subtitle {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  color: #6e6e6e;
}

.timetable__block {
  max-width: 750px;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timetable__scheduol-items {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px 0 10px;
}

.timetable__scheduol-items:last-child {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.timetable__scheduol-items:last-child .timetable__scheduol-title {
  font-size: 14px;
  text-align: left;
}

.timetable__scheduol-items:last-child .timetable__scheduol-text {
  text-align: left;
}

.timetable__scheduol-items:last-child .timetable__scheduol-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: -68px;
  width: 50px;
  height: 2px;
  background-color: #afafaf;
}

.timetable__scheduol-title {
  font-size: 14px;
  text-align: right;
  color: #6e6e6e;
}

.timetable__scheduol-text {
  text-align: right;
  margin: 15px 0 0 0;
  font-size: 18px;
  position: relative;
}

.timetable__scheduol-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: -68px;
  width: 50px;
  height: 2px;
  background-color: #afafaf;
}

.timetable__line {
  width: 6px;
  height: 677px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.teachers {
  padding: 0 0 200px 0;
  background-color: black;
}

.teachers__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 113px;
}

.teachers__logo {
  margin-right: 40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.teachers__title {
  line-height: 100%;
}

@media (max-width: 767px) {
  .teachers__title {
    font-size: calc(24px + 40.8 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767px) {
  .teachers__title {
    font-size: calc(24px + 24 * (100vw / 1280));
  }
}

.teachers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.teachers__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teachers__img {
  margin: 0 auto;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden;
}

.teachers__img img {
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  width: 100%;
}

.teachers__img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.teachers__name {
  font-size: 24px;
  line-height: 140%;
  margin-top: 40px;
}

.teachers__skiil {
  color: #6e6e6e;
  margin: 15px 0 30px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.teachers__more-button {
  width: 143px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 auto;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.teachers__more-button:hover {
  background: #451046;
  border-radius: 50px;
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 30px 0;
  background-color: black;
  text-align: center;
}

.sign-up__title {
  line-height: 140%;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .sign-up__title {
    font-size: calc(24px + 40.8 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767px) {
  .sign-up__title {
    font-size: calc(24px + 24 * (100vw / 1280));
  }
}

.sign-up__subtitle {
  color: #6e6e6e;
  margin: 0 auto;
  max-width: 400px;
}

.sign-up__form {
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
  padding-right: 20px;
}

.sign-up__input {
  padding: 0 20px;
  width: 400px;
  height: 44px;
  background: #ffffff;
  opacity: 0.25;
  border-radius: 50px 0px 0px 50px;
}

.sign-up__input::-webkit-input-placeholder {
  color: black;
  font-size: 18px;
}

.sign-up__input:-ms-input-placeholder {
  color: black;
  font-size: 18px;
}

.sign-up__input::-ms-input-placeholder {
  color: black;
  font-size: 18px;
}

.sign-up__input::placeholder {
  color: black;
  font-size: 18px;
}

.sign-up__button {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  width: 160px;
  height: 44px;
  margin-left: -20px;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.sign-up__emessanger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
}

.sign-up__vk, .sign-up__youtube, .sign-up__facebook, .sign-up__insta {
  display: inline-block;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-up__vk:hover, .sign-up__youtube:hover, .sign-up__facebook:hover, .sign-up__insta:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1400px) {
  .result {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: center;
  }
  .result__title {
    margin-top: 20px;
  }
}

@media (max-width: 1280px) {
  .header__login {
    margin-left: 20px;
  }
  .take-course__progress {
    margin: 0 auto;
  }
  .take-course__info {
    margin-right: 0;
  }
  .aboutus {
    padding: 100px 0 100px 0;
  }
  .aboutus .aboutus__block {
    display: block;
  }
  .aboutus .aboutus__img-block {
    margin: 0 auto;
  }
  .aboutus .aboutus__text {
    margin: 50px auto 0 auto;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .header {
    background-position: right;
  }
  .header__list {
    position: absolute;
    top: 0px;
    left: 0;
    padding: 50px 0 20px 0;
    right: 0;
    display: block;
    text-align: center;
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
  }
}

@media (max-width: 1024px) and (max-width: 767px) {
  .header__list {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1280));
  }
}

@media (max-width: 1024px) and (min-width: 767px) {
  .header__list {
    font-size: calc(18px + 6 * (100vw / 1280));
  }
}

@media (max-width: 1024px) {
  .header__list li {
    margin-bottom: 20px;
  }
  .active .header__list {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .header__item {
    margin: 0;
  }
  .header__menu-button {
    display: block;
    position: relative;
    top: 7px;
  }
  .header__menu-button span {
    display: block;
    width: 50px;
    height: 2px;
    background: linear-gradient(94.26deg, #0b0513 9.51%, #100268 90.23%);
    margin-bottom: 14px;
  }
  .header__menu-button span:nth-child(1) {
    -webkit-animation: span-back1 300ms ease 0s forwards;
            animation: span-back1 300ms ease 0s forwards;
  }
  .header__menu-button span:nth-child(2) {
    -webkit-animation: span-back2 300ms ease 0s forwards;
            animation: span-back2 300ms ease 0s forwards;
  }
  .header__menu-button span:nth-child(3) {
    -webkit-animation: span-back3 300ms ease 0s forwards;
            animation: span-back3 300ms ease 0s forwards;
  }
  .active .header__menu-button span:nth-child(1) {
    -webkit-animation: span1 300ms ease 0s forwards;
            animation: span1 300ms ease 0s forwards;
  }
  .active .header__menu-button span:nth-child(2) {
    -webkit-animation: span2 300ms ease 0s forwards;
            animation: span2 300ms ease 0s forwards;
  }
  .active .header__menu-button span:nth-child(3) {
    -webkit-animation: span3 300ms ease 0s forwards;
            animation: span3 300ms ease 0s forwards;
  }
  .header__login {
    position: relative;
    z-index: 20;
  }
}

@media (max-width: 780px) {
  .sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 30px 0;
    background-color: black;
    text-align: center;
  }
  .sign-up__title {
    line-height: 140%;
    margin-bottom: 30px;
  }
}

@media (max-width: 780px) and (max-width: 767px) {
  .sign-up__title {
    font-size: calc(24px + 40.8 * ((100vw - 320px) / 1280));
  }
}

@media (max-width: 780px) and (min-width: 767px) {
  .sign-up__title {
    font-size: calc(24px + 24 * (100vw / 1280));
  }
}

@media (max-width: 780px) {
  .sign-up__subtitle {
    color: #6e6e6e;
    margin: 0 auto;
    max-width: 400px;
  }
  .sign-up__form {
    max-width: 300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-right: 20px;
  }
  .sign-up__input {
    padding: 0 20px;
    width: 200px;
    height: 44px;
    background: #ffffff;
    opacity: 0.25;
    border-radius: 50px 0px 0px 50px;
  }
  .sign-up__input::-webkit-input-placeholder {
    color: black;
    font-size: 18px;
  }
  .sign-up__input:-ms-input-placeholder {
    color: black;
    font-size: 18px;
  }
  .sign-up__input::-ms-input-placeholder {
    color: black;
    font-size: 18px;
  }
  .sign-up__input::placeholder {
    color: black;
    font-size: 18px;
  }
  .sign-up__button {
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    width: 100px;
    height: 44px;
    margin-left: -20px;
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
  }
  .sign-up__emessanger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
  }
  .sign-up__vk, .sign-up__youtube, .sign-up__facebook, .sign-up__insta {
    display: inline-block;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
  }
  .sign-up__vk:hover, .sign-up__youtube:hover, .sign-up__facebook:hover, .sign-up__insta:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .teachers {
    padding: 0 0 100px 0;
  }
  .teachers__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  .partners {
    padding: 0 0 80px 0;
  }
  .partners__title {
    margin: 0 0 50px 0;
  }
  .partners__items {
    -ms-grid-columns: (150px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 150px);
  }
  .information__title {
    margin: 0 0 80px 0;
  }
  .start {
    padding: 0 0 80px 0;
  }
  .information {
    padding: 0 0 100px 0;
  }
  .information__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    margin: 0 0 20px 0;
  }
  .information__item:last-child {
    margin-bottom: 0;
  }
  .result {
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
    justify-items: center;
  }
  .aboutus__img-block {
    width: 400px;
    height: 420px;
    padding: 21px 10px;
  }
  .aboutus__text {
    width: 400px;
  }
  .take-course__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .take-course__info {
    margin-left: auto;
  }
  .take-course__line-one {
    width: 260px;
  }
  .take-course__line-two {
    width: 150px;
  }
  .header__login {
    position: absolute;
    top: 40px;
    left: -14px;
    -webkit-transform: translate(0, -200%);
            transform: translate(0, -200%);
  }
  .active .header__login {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .header__top {
    margin: 0 0 80px 0;
  }
}

@media (max-width: 550px) {
  .teachers {
    padding: 0 0 70px 0;
  }
  .teachers__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0 0 20px 0;
  }
  .teachers__item:last-child {
    margin: 0 0 0 0;
  }
  .timetable__subtitle {
    width: 300px;
  }
  .timetable {
    padding: 0 0 100px 0;
  }
  .timetable__adaptive-block {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .timetable__adaptive-block .timetable__line {
    margin: 0 5px 0 0;
  }
  .timetable__block {
    display: none;
  }
  .timetable {
    padding: 0 0 70px 0;
  }
  .timetable__scheduol-text {
    width: 280px;
    padding-left: 20px;
    position: relative;
  }
  .timetable__scheduol-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 30px;
    height: 2px;
    background: white;
  }
  .partners__title {
    margin: 0 0 20px 0;
  }
  .partners {
    padding: 0 0 50px 0;
  }
  .partners__items {
    -ms-grid-columns: (100px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 100px);
  }
  .start {
    padding: 0 0 40px 0;
  }
  .information__title {
    margin: 0 0 50px 0;
  }
  .information__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .time__item {
    padding: 10px;
  }
  .take-course__line-one {
    width: 200px;
  }
  .take-course__line-two {
    width: 100px;
  }
  .take-course__info {
    margin-left: 0;
  }
  .take-course__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .take-course__button {
    margin: 0 0 10px 0;
  }
  .take-course__progress span {
    margin-left: 10px;
  }
  .header__title {
    margin: 0 0 20px 0;
  }
  .aboutus__img-block {
    width: 300px;
    height: 300px;
    padding: 10px 10px;
  }
  .result {
    padding: 50px 0 50px 0;
  }
  .aboutus__text {
    width: 300px;
  }
  .item1 {
    width: 300px;
    height: 60px;
  }
  .item2 {
    width: 300px;
    height: 40px;
  }
  .item3 {
    width: 300px;
    height: 20px;
  }
  .item4 {
    width: 300px;
    height: 10px;
  }
}

@media (max-width: 330px) {
  .timetable__scheduol-text {
    width: 260px;
    padding-left: 15px;
    position: relative;
  }
  .timetable__scheduol-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 30px;
    height: 2px;
    background: white;
  }
  .header__top {
    margin: 0 0 60px 0;
  }
}

@-webkit-keyframes span1 {
  0% {
    -webkit-transform: rotate(0) translate(0);
            transform: rotate(0) translate(0);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(0, 22px);
            transform: rotate(45deg) translate(0, 22px);
  }
}

@keyframes span1 {
  0% {
    -webkit-transform: rotate(0) translate(0);
            transform: rotate(0) translate(0);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(0, 22px);
            transform: rotate(45deg) translate(0, 22px);
  }
}

@-webkit-keyframes span2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes span2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes span3 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(0, -21px);
            transform: rotate(-45deg) translate(0, -21px);
  }
}

@keyframes span3 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(0, -21px);
            transform: rotate(-45deg) translate(0, -21px);
  }
}

@-webkit-keyframes span-back1 {
  0% {
    -webkit-transform: rotate(45deg) translate(0, 22px);
            transform: rotate(45deg) translate(0, 22px);
  }
  100% {
    -webkit-transform: rotate(0) translate(0);
            transform: rotate(0) translate(0);
  }
}

@keyframes span-back1 {
  0% {
    -webkit-transform: rotate(45deg) translate(0, 22px);
            transform: rotate(45deg) translate(0, 22px);
  }
  100% {
    -webkit-transform: rotate(0) translate(0);
            transform: rotate(0) translate(0);
  }
}

@-webkit-keyframes span-back2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes span-back2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes span-back3 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, -21px);
            transform: rotate(-45deg) translate(0, -21px);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes span-back3 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, -21px);
            transform: rotate(-45deg) translate(0, -21px);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
