body {
  font-size: 16px;
  line-height: 150%;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 40px 0 0 0;
  min-height: 100vh;
  background: url(../img/main-screen__bgc.jpg) center/cover no-repeat;
  position: relative;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 120px 0;
}

.header__container {
  max-width: 1780px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__menu {
  margin-left: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-right: 56px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  -webkit-transition: color 300ms ease 0s;
  transition: color 300ms ease 0s;
}

.header__link:hover {
  color: #7c7cfc;
}

.header__login {
  margin-left: 270px;
  width: 183px;
  height: 44px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.header__login:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__title {
  font-size: 64px;
  line-height: 140%;
  max-width: 920px;
  margin: 0 0 50px 0;
}

.time {
  max-width: 535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time__item {
  padding: 20px 0;
  width: 102px;
  height: 112px;
  background-color: #121212;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
}

.time__item span {
  display: block;
  text-align: center;
  color: #797979;
}

.take-course {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  background-color: #121212;
  padding: 32px 0;
}

.take-course__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.take-course__button {
  width: 169px;
  height: 44px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  text-align: center;
  padding: 10px 0;
  margin-right: 80px;
}

.take-course__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr/ 1fr 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-right: 80px;
}

.take-course__info p {
  color: #6e6e6e;
}

.take-course__info span {
  line-height: 150%;
  color: white;
  font-weight: bold;
}

.take-course__progress p {
  color: #6e6e6e;
}

.take-course__progress span {
  display: inline-block;
  margin-left: 50px;
  line-height: 150%;
  color: white;
  font-weight: bold;
}

.take-course__linear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 650px;
}

.take-course__line-one {
  width: 350px;
  text-align: left;
  position: relative;
  padding: 10px 0 0 0;
  color: #6e6e6e;
}

.take-course__line-one::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}

.take-course__line-two {
  width: 200px;
  text-align: right;
  position: relative;
  padding: 10px 0 0 0;
  color: #6e6e6e;
}

.take-course__line-two::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
}

.aboutus {
  background-color: black;
  padding: 200px 0 231px 0;
}

.aboutus__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus__img-block {
  width: 526px;
  height: 542px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  padding: 38px 30px;
}

.aboutus__img {
  background-color: black;
  position: relative;
  padding: 0 0 100% 0;
}

.aboutus__img img {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
}

.aboutus__text {
  width: 600px;
}

.aboutus__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  margin-bottom: 45px;
}

.start {
  padding: 0 0 200px 0;
  background-color: black;
}

.start__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start__title-text {
  margin-left: 10px;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  margin: 0 0 50px 10px;
}

.start__subtitle {
  color: #6e6e6e;
  width: 411px;
  margin-bottom: 80px;
}

.result {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

.result__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 20px 1fr 1fr /1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */
}

.result__color {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.result__text {
  width: 300px;
  color: #6e6e6e;
}

.item1 {
  width: 324px;
  height: 80px;
}

.item2 {
  width: 324px;
  height: 60px;
}

.item3 {
  width: 324px;
  height: 30px;
}

.item4 {
  width: 324px;
  height: 10px;
}

.information {
  padding: 0 0 200px 0;
  background-color: black;
}

.information__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  /* or 67px */
  text-align: center;
  /* white */
  margin: 0 0 120px 0;
}

.information__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.information__top-text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
}

.information__img {
  margin-bottom: 60px;
}

.information__text {
  text-align: center;
}

.partners {
  padding: 0 0 200px 0;
  background-color: black;
}

.partners__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.partners__title-img {
  margin-right: 10px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.partners__title-text {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}

.partners__items {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(310px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  justify-items: center;
}

.timetable {
  background-color: black;
  padding: 0 0 172px 0;
}

.timetable__top {
  text-align: center;
}

.timetable__img {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-bottom: 61px;
}

.timetable__title {
  font-size: 48px;
  line-height: 140%;
  margin-bottom: 30px;
}

.timetable__subtitle {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  color: #6e6e6e;
}

.timetable__block {
  max-width: 750px;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timetable__scheduol-items {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timetable__scheduol-items:last-child {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.timetable__scheduol-items:last-child .timetable__scheduol-title {
  font-size: 14px;
  text-align: left;
}

.timetable__scheduol-items:last-child .timetable__scheduol-text {
  text-align: left;
}

.timetable__scheduol-items:last-child .timetable__scheduol-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75px;
  width: 50px;
  height: 2px;
  background-color: #afafaf;
}

.timetable__scheduol-title {
  font-size: 14px;
  text-align: right;
  color: #6e6e6e;
}

.timetable__scheduol-text {
  text-align: right;
  margin: 15px 0 0 0;
  font-size: 18px;
  position: relative;
}

.timetable__scheduol-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: -75px;
  width: 50px;
  height: 2px;
  background-color: #afafaf;
}

.timetable__line {
  width: 6px;
  height: 677px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.teachers {
  padding: 0 0 200px 0;
  background-color: black;
}

.teachers__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 113px;
}

.teachers__logo {
  margin-right: 40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.teachers__title {
  font-size: 48px;
  line-height: 100%;
}

.teachers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.teachers__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teachers__img {
  margin: 0 auto;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden;
}

.teachers__img img {
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  width: 100%;
}

.teachers__img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.teachers__name {
  font-size: 24px;
  line-height: 140%;
  margin-top: 40px;
}

.teachers__skiil {
  color: #6e6e6e;
  margin: 15px 0 30px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.teachers__more-button {
  width: 143px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 auto;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.teachers__more-button:hover {
  background: #451046;
  border-radius: 50px;
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 30px 0;
  background-color: black;
  text-align: center;
}

.sign-up__title {
  font-size: 48px;
  line-height: 140%;
  margin-bottom: 30px;
}

.sign-up__subtitle {
  color: #6e6e6e;
  margin: 0 auto;
  max-width: 400px;
}

.sign-up__form {
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
  padding-right: 20px;
}

.sign-up__input {
  padding: 0 20px;
  width: 400px;
  height: 44px;
  background: #ffffff;
  opacity: 0.25;
  border-radius: 50px 0px 0px 50px;
}

.sign-up__input::-webkit-input-placeholder {
  color: black;
  font-size: 18px;
}

.sign-up__input:-ms-input-placeholder {
  color: black;
  font-size: 18px;
}

.sign-up__input::-ms-input-placeholder {
  color: black;
  font-size: 18px;
}

.sign-up__input::placeholder {
  color: black;
  font-size: 18px;
}

.sign-up__button {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  width: 160px;
  height: 44px;
  margin-left: -20px;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.sign-up__emessanger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
}

.sign-up__vk, .sign-up__youtube, .sign-up__facebook, .sign-up__insta {
  display: inline-block;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-up__vk:hover, .sign-up__youtube:hover, .sign-up__facebook:hover, .sign-up__insta:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1280px) {
  .header__login {
    margin-left: 20px;
  }
  .take-course__block {
    display: block;
  }
}
